<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
  
    <add name="LovManagerDatabase" connectionString="Data Source=localhost;MultipleActiveResultSets=True;Initial Catalog=JIC_Lov;User ID=SogeCapAdmin;Password=p@ssw0rd;" providerName="System.Data.SqlClient" />
    <add name="ChallengesAppDB" connectionString="Data Source=localhost;MultipleActiveResultSets=True;Initial Catalog=SOGECAP_Challenges;User ID=SogeCapAdmin;Password=p@ssw0rd;" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>