USE [JIC_Lov]
GO
ALTER TABLE [dbo].[ListOfValue] DROP CONSTRAINT [FK_ListOfValue_ListOfValueDomain]
GO
ALTER TABLE [dbo].[ListOfValue] DROP CONSTRAINT [FK_ListOfValue_ListOfValue]
GO
/****** Object:  Table [dbo].[ListOfValueDomain]    Script Date: 12/07/2017 17:07:04 ******/
DROP TABLE [dbo].[ListOfValueDomain]
GO
/****** Object:  Table [dbo].[ListOfValue]    Script Date: 12/07/2017 17:07:04 ******/
DROP TABLE [dbo].[ListOfValue]
GO
/****** Object:  User [BS-SE\ApplicationIdentity]    Script Date: 12/07/2017 17:07:04 ******/
DROP USER [BS-SE\ApplicationIdentity]
GO
USE [master]
GO
/****** Object:  Database [JIC_Lov]    Script Date: 12/07/2017 17:07:04 ******/
DROP DATABASE [JIC_Lov]
GO
/****** Object:  Database [JIC_Lov]    Script Date: 12/07/2017 17:07:04 ******/
CREATE DATABASE [JIC_Lov]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JIC_Lov', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\JIC_Lov.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JIC_Lov_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\JIC_Lov_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JIC_Lov].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JIC_Lov]
GO
USE [JIC_Lov]
GO
/****** Object:  User [BS-SE\ApplicationIdentity]    Script Date: 12/07/2017 17:07:04 ******/
CREATE USER [BS-SE\ApplicationIdentity] FOR LOGIN [BS-SE\ApplicationIdentity] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[ListOfValue]    Script Date: 12/07/2017 17:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListOfValue](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[ParentId] [uniqueidentifier] NULL,
	[DomainId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ListOfValue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ListOfValueDomain]    Script Date: 12/07/2017 17:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListOfValueDomain](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_ListOfValueDomain] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ListOfValue]  WITH CHECK ADD  CONSTRAINT [FK_ListOfValue_ListOfValue] FOREIGN KEY([ParentId])
REFERENCES [dbo].[ListOfValue] ([Id])
GO
ALTER TABLE [dbo].[ListOfValue] CHECK CONSTRAINT [FK_ListOfValue_ListOfValue]
GO
ALTER TABLE [dbo].[ListOfValue]  WITH CHECK ADD  CONSTRAINT [FK_ListOfValue_ListOfValueDomain] FOREIGN KEY([DomainId])
REFERENCES [dbo].[ListOfValueDomain] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListOfValue] CHECK CONSTRAINT [FK_ListOfValue_ListOfValueDomain]
GO
USE [master]
GO
