
<div class="container customer-form">
    <div class="row">
        <div class="col-md-4">
            <h2>Menu</h2>
        </div>
    </div>
   
    <br />
    <br />
    <br />

    <div class="row top-buffer">
        <div class="col-md-4">
            <ul class="list-group">

             
                <a ng-href="/#/list/app/library/LibrariesList" class="list-group-item clearfix">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    Library App
                </a>
                <a ng-href="/#/page/app/lovmanager/domainList.html" class="list-group-item clearfix">
                    <span class="glyphicon glyphicon-cog"></span>
                    List Of Value Setup
                </a>
                <a ng-href="/#/page/productSetup.html" class="list-group-item clearfix">
                    <span class="glyphicon glyphicon-cog"></span>
                    Product Setup
                </a>
            </ul>
        </div>
    </div>

  

</div>