<style>
    .text-color-red {
        color: red;
    }

    .upload_button {
        display: none !important;
    }
</style>
<div class="container customer-form">
    <form class="form-vertical" name="productSetupForm" data-atom-form>
        <h1>Product Setup</h1>
        <p>
            Version Number: {{currentProductSetupFile.Version}}
            <br />
            Created Date: {{currentProductSetupFile.CreatedDate}}
        </p>
        <p>In order to update the products and packages, download the latest committed excel file(s), then modify them while maintaining the same generated name(s) of the file(s). Finally, upload the modified file(s) and save your changes.</p>

        <div class="alert alert-info">
            <strong>Note:</strong>In case you've added new product(s) to the product setup excel file, make sure you upload an updated product mapping excel file. Moreover, if you wish to remove any product(s) or package(s), do not delete them from the product setup file. Alternatively, set their status to Inactive.
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Product Setup</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <a ng-href="{{productSetupFileUrl}}" class="btn btn-default btn-block" ng-hide="hideDownloadButton"><span class="glyphicon glyphicon-download-alt"></span> Download Latest Product Setup</a>
                    </div>
                    <div class="col-sm-8">
                        <library-uploader app="'Library'" oninitialized="onPackageSetupUploaderInit" uniquenames="true"
                                          buttontext="'Upload'" required="true"
                                          libraryname="'ProductSetup'" folderpath="'/PackageSetupUploads'" autosave="true" extensions="'xlsx'"></library-uploader>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div ng-show="data.RuleDescriptions && data.RuleDescriptions.length > 0">
            <h4 class="text-info"><strong>Rules</strong></h4>
            <div class="row">
                <div class="col-md-4 col-lg-3" ng-repeat="rule in data.RuleDescriptions">
                    <button ng-click="openRuleEditor($index,'product')" class="btn btn-link btn-block" ng-class="rule.IsDefined?'':'text-color-red'">
                        <span class="glyphicon glyphicon-check" ng-show="rule.IsDefined" ng-class="rule.IsDefined?'':'text-color-red'"></span>
                        <span class="glyphicon glyphicon-remove-sign" ng-show="!rule.IsDefined" ng-class="rule.IsDefined?'':'text-color-red'"></span>
                        <span ng-bind="rule.Name" ng-class="rule.IsDefined?'':'text-color-red'"></span>
                    </button>
                </div>
            </div>
        </div>


        <div ng-class="{'panel panel-danger': !result.IsValid ,'panel panel-success': result.IsValid }"
             ng-show="userHasUploadedDocument && (packageSetupErrorMessages.length > 0 || productSetupErrorMessages.length > 0)">
            <div class="panel-heading">
                <h3 class="panel-title">Status</h3>
            </div>
            <div ng-show="packageSetupErrorMessages.length > 0" class="panel-body">
                <h4 ng-class="{'text-success': result.IsValid ,'text-danger': !result.IsValid}">
                    Product Setup
                </h4>
                <ul class="list-group">
                    <li ng-repeat="errors in packageSetupErrorMessages">
                        <i class="glyphicon glyphicon-remove-sign list-group-item" ng-show="!result.IsValid"> {{errors}}</i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-xs-4">
                <button id="btnPostFile" class="btn btn-primary col-xs-12" ng-click="save()" ng-disabled="!userHasUploadedDocument">Save</button>
            </div>
            <div class="col-xs-4">
                <button id="btnPostFile" class="btn btn-warning col-xs-12" ng-click="rollback()" ng-show="showRollbackBtn">Rollback</button>
            </div>
            <div class="col-xs-4">
                <button id="btnPostFile" class="btn btn-danger col-xs-12" ng-click="cancel()">Cancel</button>
            </div>
        </div>
        <!--<div class="row actions">
            <div class="col-md-3">
                <atom type="'button'" name="Submit" actiontype="'submit'" action="save" enabled="userHasUploadedDocument && !IsErrored && IsRulesDefined"
                      actionclasses="btn btn-primary btn-block" container="productSetupForm"></atom>
            </div>

            <div class="col-md-3">
                <atom type="'button'" name="Rollback" actiontype="'submit'" action="rollback" enabled="true"
                      actionclasses="btn btn-warning btn-block" container="productSetupForm"></atom>
            </div>

            <div class="col-md-3">
                <atom type="'button'" name="Cancel" actiontype="'default'" action="cancel" actionclasses="btn btn-default btn-block"></atom>
            </div>
        </div>-->

    </form>
</div>
