<div>
    <div class="ManagersList" style="float: left; width: 100%; margin-bottom: 10px;">
        <tile-title text="host.templateData.holidayTitle" size="'Large'"></tile-title>
    </div>
    <div class="pictureContainer" style="float: left; width: 100%;">
        <picture url="host.templateData.holidayUrl" title="host.templateData.holidayTitle" size="'large'"></picture>
    </div>
    <div class="managersCount" style="float: left; clear: both;">
        <number number="host.templateData.holidayCount" size="'medium'"></number>
    </div>
</div>